
<ion-content>
  <ion-row  style="display: flex; justify-content: center;align-items: center;height: 100%;" *ngIf="submitted">
    <div style="display: block;">
      <div style="width: 100%;display: flex;justify-content: center;">
        <ion-spinner></ion-spinner>
      </div>
      <p>Patientez un instant...</p>
    </div>
    </ion-row>
  <div *ngIf="!submitted" class="header">
    <div class="space-between">
      <div class="followings" routerLink="/home">
        <p style="font-weight: bolder;display: flex;align-items: center;"><ion-icon name="chevron-back-outline"></ion-icon>Retour</p>
      </div>

    </div>
    <h2>Profil</h2>

    <div class="flex">
      <div class="box-border">
        <div class="border-white">
          <div class="img-box">
            <img src="assets/avatar.png">
          </div>
        </div>
      </div>
    </div>
    <h2 style="color: black;margin-top: 0px;">{{project?.name}} </h2>
    <div style="width: 100%;display: flex;justify-content: center;">
      <p-selectButton [options]="stateOptions2" [(ngModel)]="value2" optionLabel="label" optionValue="value" ></p-selectButton>

    </div>
    <div style="padding-left: 20px;padding-right: 20px;" *ngIf="value2==='profil'">
      <ion-col size="12" >
        <ion-item lines="none" style="display: block;">
          <div style="width: 100%;">
            <ion-text style="font-weight: bolder;">Nombre de voyages</ion-text>

          </div>
          <div>
            <ion-label>
              {{project?.tripsCount}}
            </ion-label>
          </div>

        </ion-item>
      </ion-col>
      <ion-col size="12"  class="ion-padding ion-margin">
        <ion-item lines="none"  style="display: block;">
          <div>
            <ion-text style="font-weight: bolder;">Mot de passe</ion-text>
            <ion-input  type="password" [disabled]="true" value="password"></ion-input>

          </div>
          <div>

          </div>

        </ion-item>
      </ion-col>

    </div>

    <div style="padding-left: 20px;padding-right: 20px;" *ngIf="value2==='setting'">
      <ion-col size="12" >
        <ion-item lines="none" style="display: block;">
          <div style="width: 100%; justify-content: space-between;display: flex;">
            <ion-text style="font-weight: bolder;">Noms</ion-text>
            <ion-icon name="pencil-sharp" style="margin-left: 15px;font-size: 22px;" (click)="showDialogs(project)" *ngIf="value2==='setting'"></ion-icon>
          </div>
          <div>
            <ion-label>
              {{project?.name}}
            </ion-label>
          </div>

        </ion-item>
      </ion-col>
      <ion-col size="12"  class="ion-padding ion-margin">
        <ion-item lines="none"  style="display: block;">
          <div>
            <ion-text style="font-weight: bolder;">Mot de passe</ion-text>
            <ion-input  type="password"  value="password"></ion-input>

          </div>
          <div>

          </div>

        </ion-item>
      </ion-col>
      <div style="display: block;position: fixed;bottom: 0;left: 0;right: 0;width: 100%;">
        <ion-button shape="round" expand="block" (click)="logout()" >Se deconnecter
        </ion-button>
        <ion-button  shape="round" color="danger" (click)="visible = true" expand="block" >Supprimer le profil
        </ion-button>
      </div>

    </div>
  </div>


    <p-dialog header="Supprimer" [(visible)]="visible" [closable]="false" [modal]="true" >

      <p class="m-0">
        Voulez-vous supprimer votre compte ?
      </p>
      <ng-template pTemplate="footer">
        <ion-button shape="round" size="small" [disabled]="deletesubmitted" color="medium" (click)="visible = false">Annuler</ion-button>

        <ion-button  shape="round" size="small" (click)="deleteProfile()" [disabled]="deletesubmitted" color="danger"  >Supprimer <i class="pi pi-spin pi-spinner" *ngIf="deletesubmitted" style="margin-left: 3px;"></i>
        </ion-button>
      </ng-template>

</p-dialog>
</ion-content>


<p-dialog header="Modifier l'utilisateur" id="formss" [(visible)]="editvisible" [closable]="false" [modal]="true" [draggable]="false" [style]="{ width: '100%' }">
  <form [formGroup]="form">
<div style="margin-top: 10px;">
  <ion-label >Nom</ion-label>

  <ion-item class="ion-no-padding ion-no-margin"  style="margin-bottom: 10px;">
    <ion-input
    class="custom-input ion-no-padding"
    label-placement="stacked"
    required="true"
    style="display: none;"
    formControlName="id"
    [(ngModel)]="tempo.id"

  >
</ion-input>

    <ion-input
    class="custom-input ion-no-padding"
    label-placement="stacked"
    placeholder="Noms"
    required="true"
    formControlName="name"
    [(ngModel)]="tempo.name"

  >

  </ion-input>
  </ion-item>
  <div *ngIf="user.touched && user.invalid" class="erreur">
    <div *ngIf="user?.errors.required">
      Le nom est requis.
    </div>
  </div>
</div>

    <div style="width: 100%;display: flex;justify-content: end;">
      <ion-button color="medium" (click)="editvisible = false">
        <ion-icon slot="start" name="close" ></ion-icon>
       Annuler
      </ion-button>
      <ion-button (click)="edited()" [disabled]="esubmitted">
        <ion-icon slot="start"  name="checkmark"></ion-icon>
       Modifier<i class="pi pi-spin pi-spinner" *ngIf="esubmitted" style="margin-left: 3px;"></i>
      </ion-button>
    </div>


  </form>

  <ng-template pTemplate="footer">


  </ng-template>
</p-dialog>
